In [11]:
import pandas as pd
import numpy as np

In [12]:
raw_data = pd.read_csv('EducationData.csv').drop(0, axis=0)
ed_data = raw_data.set_index('State')
ed_data = ed_data.drop('PR', axis=0)
ed_data = ed_data.reset_index()

In [13]:
cols = ["State", "Area name", "Percent of adults with less than a high school diploma, 2012-2016", 
       "Percent of adults with a high school diploma only, 2012-2016", 
        "Percent of adults completing some college or associate's degree, 2012-2016",
        "Percent of adults with a bachelor's degree or higher, 2012-2016"]
ed_data = ed_data[cols]
ed_data.head()

,State,Area name,"Percent of adults with less than a high school diploma, 2012-2016","Percent of adults with a high school diploma only, 2012-2016","Percent of adults completing some college or associate's degree, 2012-2016","Percent of adults with a bachelor's degree or higher, 2012-2016"
0,AL,Alabama,15.2,31.0,29.8,24.0
1,AL,Autauga County,12.4,34.3,28.7,24.6
2,AL,Baldwin County,10.0,28.7,31.8,29.5
3,AL,Barbour County,26.2,34.9,26.0,12.9
4,AL,Bibb County,19.3,41.8,26.9,12.0

In [14]:
ed_data.columns = ['State', 'Area', 'LHS', 'HS', 'SC', 'BD']
ed_data.head()

  State            Area   LHS    HS    SC    BD
0    AL         Alabama  15.2  31.0  29.8  24.0
1    AL  Autauga County  12.4  34.3  28.7  24.6
2    AL  Baldwin County  10.0  28.7  31.8  29.5
3    AL  Barbour County  26.2  34.9  26.0  12.9
4    AL     Bibb County  19.3  41.8  26.9  12.0

In [15]:
ed_data.to_csv('CleanDataEducation.csv')